<%- include('partials/header') %>
<div class="main-container">
  <h2 class="section-heading">2nd Year – Select Semester</h2>
  <div>
    <a href="/notes/2nd/sem3" class="btn">Sem 3</a>
    <a href="/notes/2nd/sem4" class="btn">Sem 4</a>
  </div>
</div>
<%- include('partials/footer') %>