<%- include('partials/header') %>
<div class="main-container">
  <h2 class="section-heading">Semester 3 Subjects</h2>
  <div>
    <a href="#" class="btn">Higher Mathematics</a>
    <a href="#" class="btn">Experimental Methods & Analysis</a>
    <a href="#" class="btn">Mechanics of Solids</a>
    <a href="#" class="btn">Kinematics of Machines</a>
    <a href="#" class="btn">Fluid Mechanics-I</a>
    <a href="#" class="btn">Material Science</a>
    <a href="#" class="btn">Machine Drawing</a>
    <a href="#" class="btn">Fluids Mechanics Lab</a>
    <a href="#" class="btn">Manufacturing Technology Lab-I</a>
  </div>
</div>
<%- include('partials/footer') %>