<%- include('partials/header') %>
<div class="main-container">
  <h2 class="section-heading">Semester 7 Subjects</h2>
  <div>
    <a href="#" class="btn">Industrial Training/Internship</a>
    <a href="#" class="btn">Project (Phase II)</a>
    <a href="#" class="btn">Departmental Elective-3</a>
    <a href="#" class="btn">Departmental Elective-4</a>
    <a href="#" class="btn">Departmental Elective-5</a>
    <a href="#" class="btn">Open Elective-2</a>
    <a href="#" class="btn">Humanities Elective</a>
  </div>
</div>
<%- include('partials/footer') %>