<%- include('partials/header') %>
<div class="main-container">
  <h2 class="section-heading">Semester 8 Subjects</h2>
  <div>
    <a href="#" class="btn">Mechanical Vibrations</a>
    <a href="#" class="btn">Manufacturing Tech Lab-III</a>
    <a href="#" class="btn">Vibrations Lab</a>
    <a href="#" class="btn">Energy Conversion Systems Lab</a>
    <a href="#" class="btn">Colloquium</a>
    <a href="#" class="btn">Project (Phase I)</a>
    <a href="#" class="btn">Departmental Elective-2</a>
    <a href="#" class="btn">Open Elective-1</a>
    <a href="#" class="btn">Humanities Elective</a>
  </div>
</div>
<%- include('partials/footer') %>