<%- include('partials/header') %>
<div class="main-container">
  <h2 class="section-heading">4th Year – Select Semester</h2>
  <div>
    <a href="/notes/4th/sem7" class="btn">Sem 7</a>
    <a href="/notes/4th/sem8" class="btn">Sem 8</a>
  </div>
</div>
<%- include('partials/footer') %>