<%- include('partials/header') %>
<div class="main-container"><h2 class="section-heading">Semester 6 PYQs</h2><div>
  <a href="#" class="btn">Machinery Dynamics</a><a href="#" class="btn">I.C. Engines</a>
  <a href="#" class="btn">Energy Conversion Systems</a><a href="#" class="btn">Fluid Machinery</a>
  <a href="#" class="btn">Manufacturing Lab-II</a><a href="#" class="btn">Solid Modelling & Analysis</a>
  <a href="#" class="btn">Kinematics & Stress Lab</a><a href="#" class="btn">Fluid Mech & Machinery Lab</a>
  <a href="#" class="btn">Engg Economy & Mgmt</a></div></div><%- include('partials/footer') %>