<%- include('partials/header') %>
<div class="main-container">
  <h2 class="section-heading">3rd Year – Select Semester</h2>
  <div>
    <a href="/pyqs/3rd/sem5" class="btn">Sem 5</a>
    <a href="/pyqs/3rd/sem6" class="btn">Sem 6</a>
  </div>
</div>
<%- include('partials/footer') %>