<%- include('../partials/header') %>
<div class="main-container">
  <h2 class="section-heading">Semester 4 Subjects</h2>
  <div>
    <a href="#" class="btn">Numerical Methods & Optimization</a>
    <a href="#" class="btn">Electrical Technology & Control</a>
    <a href="#" class="btn">Electrical Technology Lab</a>
    <a href="#" class="btn">Machine Design I</a>
    <a href="#" class="btn">Applied Thermodynamics</a>
    <a href="#" class="btn">Manufacturing Technology-I</a>
    <a href="#" class="btn">Thermodynamics Lab</a>
  </div>
</div>
<%- include('../partials/footer') %>