<%- include('../partials/header') %>
<div class="main-container">
  <h2 class="section-heading">Semester 6 Subjects</h2>
  <div>
    <a href="#" class="btn">Machinery Dynamics</a>
    <a href="#" class="btn">I.C. Engines</a>
    <a href="#" class="btn">Energy Conversion System</a>
    <a href="#" class="btn">Fluid Machinery</a>
    <a href="#" class="btn">Manufacturing Tech Lab-II</a>
    <a href="#" class="btn">Solid Modelling & Analysis</a>
    <a href="#" class="btn">Kinematics & Stress Analysis Lab</a>
    <a href="#" class="btn">Fluid Mechanics & Machinery Lab</a>
    <a href="#" class="btn">Engineering Economy & Management</a>
  </div>
</div>
<%- include('../partials/footer') %>