<%- include('../partials/header') %>
<div class="main-container">
  <h2 class="section-heading">Semester 5 Subjects</h2>
  <div>
    <a href="#" class="btn">Machine Design II</a>
    <a href="#" class="btn">Heat & Mass Transfer</a>
    <a href="#" class="btn">Fluid Mechanics II</a>
    <a href="#" class="btn">Industrial Engg & OR</a>
    <a href="#" class="btn">Manufacturing Technology-II</a>
    <a href="#" class="btn">Heat & Mass Transfer Lab</a>
    <a href="#" class="btn">Machine Design Practice</a>
    <a href="#" class="btn">Departmental Elective-1</a>
  </div>
</div>
<%- include('../partials/footer') %>